FLASK_APP=run.py
FLASK_ENV=production
SECRET_KEY=change-this-secret
DATABASE_URL=postgresql://postgres:your-password@host.docker.internal:5432/SahaTakvim
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=Admin123!
